%h1 Markedli New Bookmark
%p Create a new bookmark
=form_for @bookmark do |f|
	- if @bookmark.errors.any?
		%ul
		- @bookmark.errors.full_messages.each do |msg|
			%li= msg
	%dl
		%dt
			=f.label :url, "URL"
		%dd
			=f.text_field :url
		%dt
			=f.label :title, "Title"
		%dd
			=f.text_field :title
	=f.submit "Save"
